<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Shuttr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>47A4A8591BD9CF19006091DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47A4A8721BD9CF1A006091DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47A4A87D1BD9CF1A006091DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
